In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
df = pd.read_csv(r'./data/green_tripdata_2019-09.csv.gz', iterator=True, chunksize=50000)

In [15]:
df_i = next(df)

In [16]:
df_i.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2,1,0.0
6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1,1,0.0
7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3,1,0.0
8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1,1,0.0
9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2,1,0.0

In [18]:
print(pd.io.sql.get_schema(df_i, name='green_taxi', con=engine))

CREATE TABLE green_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [19]:
while df_i is not None:
    print('starting the round') 
    t_start = time()

    df_i.lpep_pickup_datetime = pd.to_datetime(df_i.lpep_pickup_datetime)
    df_i.lpep_dropoff_datetime = pd.to_datetime(df_i.lpep_dropoff_datetime)
    
    df_i.to_sql(name='green_taxi', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))
    try: 
        df_i = next(df)
    except StopIteration:
        df_i = None

starting the round
inserted another chunk, took 7.706 second
starting the round
inserted another chunk, took 7.705 second
starting the round
inserted another chunk, took 7.647 second
starting the round
inserted another chunk, took 7.731 second
starting the round
inserted another chunk, took 8.047 second
starting the round
inserted another chunk, took 7.916 second
starting the round
inserted another chunk, took 7.749 second
starting the round
inserted another chunk, took 7.507 second
starting the round
inserted another chunk, took 6.810 second

In [20]:
zone_lookup_table = pd.read_csv(r'./data/taxi+_zone_lookup.csv')

In [21]:
zone_lookup_table.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [22]:
zone_lookup_table.to_sql(name='zone_lookup', con=engine, if_exists='append')

265

In [36]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False